# Gradle files
.gradle/
build/

# Kotlin
.kotlin/

# IDE files
.idea/
*.iml
*.iws
*.ipr

# Local configuration
local.properties

# Android Studio captures
captures/

# External native build
.externalNativeBuild
.cxx/

# Secrets & Keys
*.jks
*.keystore
google-services.json

# OS files
.DS_Store
Thumbs.db

# Log files
*.log
